<%= form_for(recipe_title) do |f| %>
  <% if recipe_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_title.errors.count, "error") %> prohibited this recipe_title from being saved:</h2>

      <ul>
      <% recipe_title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :ingredient %>
    <%= f.text_field :ingredient %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
